<!--AppComponent es el Parent Component -->
<!-- img es el atributoo input que AppComponent (es el padre) recibe de ImgComponent (hijo)-->
<!-- <app-img img="Ese valor viene desde el padre"></app-img> -->

<!--Forma dinamica:
Utiliza el ngModel para recibir
y property binding [img] para enviar-->

<input type="text" [(ngModel)]="imgParent"> <!-- hacemos el data binding con un ngModel para enlazarlo y escucharlo  -->
<hr/>
<app-img (loadedEvent)="onLoaded($event)"  [img]="imgParent"></app-img>


<!--Queremos enviar dinamicamente este componente desde el padre
y si escribimos un input o modificamos un valor enviarlo desde app-img el padre-->
<hr/>
<app-producto></app-producto> <!-- Las veces que yo ponga este componente se vera en la vista -->


<!-- <router-outlet></router-outlet>
-->
